* {
  box-sizing: border-box;
}

body {
  position: relative;
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  scroll-behavior: smooth;
}

.header-anchor-list {
  display: flex;
  list-style-type: none;
  overflow: hidden;
  margin: 0;
  padding: 0;
  padding-right: 5em;
  font-weight: 400;
  font-size: 1.2em;
}

.header-section-anchor {
  padding-left: 3em;
}

a:link, a:visited {
  text-decoration: none;
  color: inherit;
}

.header {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 15vh;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0px 3px 9px -4px rgba(0,0,0,0.46);
}

.logo-header {
  width: auto;
  height: 100%;
  margin-left: 5em;
}

.header-content {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5em 0;
}

.arrows-container {
  display: none;
}

.section-one {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background-color: white;
  width: 100vw;
  height: 100vh;
}

#section1-iphone {
  width: auto;
  height: 80%;
  margin-right: 2em;
}

#section1-text {
  display: flex;
  flex-direction: column;
  margin-bottom: 10em;
}

.section-two {
  background-color: white;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.section-three {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  background-color: #FF728F;
  width: 100vw;
  height: 100vh;
}

.steps {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family:'Open Sans', sans-serif;
  font-weight:600;
  color: white;
  width: 100%;
  padding: 0 5em;
}

.app-store {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 15%;
  /*padding-bottom: 2em;*/
}

.description {
  text-align: center;
}


@media (max-width: 400px) {
  .logo-header {
    display: none;
  }

  .header-content {
    position: relative;
  }

  .header-anchor-list {
    justify-content: center;
    width: 100%;
    padding-right: 0;
  }

  .header-section-anchor {
    padding-left: 0;
  }

  .arrows-container {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
  }

  .arrows {
    position: relative;
    height: 2em;
    width: 4.25em;
  }

  .arrow {
    position: absolute;
    height: 2em;
    width: 2em;
    background-color: red;
    cursor: pointer;
  }

  #up-arrow {
    left: 0;
    top: 0;
  }

  #down-arrow {
    right: 0;
    top: 0;
  }

  .section-one {
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: inherit;
  }

  #section1-iphone {
    order: 2;
    height: auto;
    width: 90%;
    margin: 0;
  }

  #section1-text {
    order: 1;
    margin-bottom: 0;
  }
}
