* {
  box-sizing: border-box;
}

body {
  position: relative;
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  scroll-behavior: smooth;
}

.logo-section {
  display: none;
}

.header-anchor-list {
  display: flex;
  list-style-type: none;
  overflow: hidden;
  margin: 0;
  padding: 0;
  padding-right: 5em;
  font-weight: 400;
  font-size: 1.2em;
}

.header-section-anchor {
  padding-left: 3em;
}

.header-section-anchor.active {
  color: #FF728F;
  /*font-weight: 700;*/
}

a:link, a:visited {
  text-decoration: none;
  color: inherit;
}

.header {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 15vh;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0px 3px 9px -4px rgba(0,0,0,0.46);
}

.logo-header {
  width: auto;
  height: 100%;
  margin-left: 5em;
}

.header-content {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5em 0;
}

.arrows-container {
  display: none;
}

.section {
  width: 100vw;
  height: 100vh;
}

.section-one {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background-color: white;
}

#section1-iphone {
  width: auto;
  height: 80%;
  margin-right: 2em;
}

#section1-text {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 10em;
  width: 40vw;
}

.headline {
  font-size: 3em;
}

.subheader {
  font-size: 1.5em;
  color: #FF728F;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
}

.section-two {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  background-color: white;
  overflow: hidden;
  padding: 0 8em;
}

.section2-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 80%;
  width: 30vw;
}

.who-title {
  font-size: 2.3em;
  font-weight: bold;
}

.who-description {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2em;
  color: #58595B;
  padding: 1.5em 0;
}

.who-insta {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5em;
  color: #00E086;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  width: 100%;
}

#who-insta-mobile {
  display: none;
}

.instagram-icon {
  width: 1.9em;
  height: auto;
}

.section2-insta {
  padding-left: 1em;
}

.section2-photogrid {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 80%;
  width: 45vw;
}

.photogrid-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 4em;
}

.photo-container {
  background-color: #FF93A9;
  /*height: 32vh;
  width: 25vh;*/
  margin: 0.7em;
  height: 100%;
  width: 30%;
  text-align: center;
  color: white;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.photo-container img {
  width: 100%;
  height: auto;
}

.photo-container span {
  width: 100%;
  font-size: 0.9em;
}

.black-line {
  /*position: absolute;*/
  background-color: black;
  width: 100vw;
  height: 0.4em;
}

.section-three {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  background-color: #FF728F;
}

.steps {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family:'Open Sans', sans-serif;
  font-weight:600;
  color: white;
  width: 100%;
  padding: 0 5em;
}

.app-store {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 15%;
  /*padding-bottom: 2em;*/
}

.description {
  text-align: center;
  width: 15vw;
}

.step {
  background-color: white;
  border-radius: 7.5vw;
  width: 15vw;
  height: 15vw;
}

.step-image {
  width: 60%;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #964354;
  color: white;
  width: 100vw;
  height: 20vh;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.1em;
  padding: 0 2em;
}

.footer-list {
  display: flex;
  list-style-type: none;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.footer-item {
  padding-right: 4em;
  display: flex;
  align-items: center;
}

.social-media-icon {
  width: 2.8em;
  height: auto;
  margin-right: 0.5em;
}

@media (max-width: 800px) {
  .logo-header {
    display: none;
  }

  .logo-section {
    display: block;
    padding: 9em 0 2.5em 0;
    width: 40vw;
    height: auto;
  }

  .header {
    font-weight: 600;
  }

  .header-content {
    position: relative;
  }

  .header-anchor-list {
    justify-content: center;
    width: 100%;
    padding-right: 0;
  }

  .header-section-anchor {
    padding-left: 0;
    display: none;
  }

  .header-section-anchor.active {
    display: block;
    font-weight: 700;
  }

  .arrows-container {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
  }

  .arrows {
    position: relative;
    height: 2em;
    width: 4.25em;
  }

  .arrow {
    position: absolute;
    height: 2em;
    width: 2em;
    background-color: #B3B3B3;
    cursor: pointer;
  }

  .arrow img {
    width: 70%;
    height: auto;
    top: 30%;
    left: 20%;
    position: absolute;
  }

  #up-arrow {
    left: 0;
    top: 0;
  }

  #down-arrow {
    right: 0;
    top: 0;
  }

  .section-one {
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: inherit;
  }

  #section1-iphone {
    order: 2;
    height: auto;
    width: 90%;
    margin: 2em 0 0 0;
  }

  #section1-text {
    order: 1;
    margin-bottom: 0;
    width: 75vw;
  }

  .headline {
    font-size: 1.5em;
  }

  .subheader {
    font-size: 0.8em;
    margin-top: 1em;
  }

  .section-two {
    height: inherit;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0 2em;
  }

  .section2-text {
    width: 100%;
    padding-top: 7em;
  }

  .who-title {
    font-size: 1.5em;
    font-weight: 400;
  }

  .who-description {
    font-size: 0.8em;
    padding: 1em 0;
  }

  .who-insta {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

  #who-insta-desktop {
    display: none;
  }

  #who-insta-mobile {
    display: flex;
  }

  .section2-insta {
    padding: 1em 0 2em 0;
  }

  .section2-photogrid {
    flex-direction: row;
    width: 100%;
    align-items: flex-start;
    justify-content: center;
  }

  .photogrid-row {
    flex-direction: column;
  }

  .photo-container {
    width: 90%;
  }

  .photo-container span {
    font-size: 0.8em;
  }

  .section-three {
    height: inherit;
  }

  .steps {
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-family:'Open Sans', sans-serif;
    font-weight:600;
    color: white;
    width: 100%;
    padding: 0 5em;
  }

  .description {
    text-align: center;
    width: 60vw;
    padding: 1.5em 0;
  }

  .step-image {
    width: 100%;
  }

  .footer {
    flex-direction: column;
    height: inherit;
    padding-top: 4em;
  }

  .footer-list {
    flex-direction: column;
  }

  .footer-item {
    flex-direction: column;
    padding: 1.5em 0;
  }

  .social-media-icon {
    margin: 0 0 0.6em 0;
  }

  .copy {
    margin: 2em 0;
  }
}
