<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Helfie: Desafie seus amigos a comer melhor!</title>
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,300i,400,400i|Roboto:500|Open+Sans:300,300i,400,400i,600,700" rel="stylesheet">
    <link rel="stylesheet" href="style.css" type="text/css">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>
  <div id="termos">
    <div class="header">
      <div class="nav header-content">
        <h1 class="header-title" v-if="ptbr">Termos e condições de uso</h1>
        <h1 class="header-title" v-if="en">Terms and conditions of use</h1>
        <img src="logo.png" class="logo-header">
      </div>
    </div>

    <div class="terms-text">
      <p class="languages"><span class="language" v-on:click="changeToPTBR">PT-BR</span> | <span class="language" v-on:click="changeToEN">EN</span></p>
      <div v-if="ptbr">
        <p>Ao se cadastrar no Helfie, você estará concordando com os termos e condições aqui declarados.</p>

        <p><b>I) INTRODUÇÃO</b><br>
        O aplicativo Helfie é uma ferramenta que estimula a criação de hábitos alimentares saudáveis a partir da competição entre amigos. O usuário pode convidar amigos de sua lista de contatos a participar de desafios, os quais são cumpridos pelo registro por meio de fotos.</p>

        <p><b>II) CADASTRO</b><br>
        - O cadastro para o primeiro uso em um dispositivo é realizado pelo usuário através do próprio aplicativo, a partir do fornecimento de um número de celular que receberá um SMS com código para o primeiro acesso.<br>
        - Ao usuário já cadastrado, o Helfie não requer login após o primeiro acesso em um mesmo dispositivo. No caso de acesso por outro dispositivo, o cadastro deve ser feito novamente, sem perda de dados de dispositivos prévios.<br>
        - Só será permitido realizar um único cadastro por número de celular, assim como um único cadastro por usuário, devendo o acesso, visualização e uso do aplicativo ser feito pelo usuário em caráter pessoal e intransferível.<br>
        - No caso de menores de 18 anos ou outras pessoas que necessitem de representação na forma da lei, o cadastramento deverá ser realizado com a assistência dos pais ou dos representantes legais.<br>
        - É proibida a realização de mais de um cadastro por usuário, bem como, o usuário se utilizar do cadastro de outro usuário.</p>

        <p><b>III) INFORMAÇÕES PESSOAIS</b><br>
        - Ao se cadastrar no aplicativo, o usuário permite o acesso às informações de nome; sobrenome; número de celular.<br>
        - As informações solicitadas ao usuário no momento do cadastro serão utilizadas pelo Helfie somente para os fins previstos nestes Termos de Uso e em nenhuma circunstância, tais informações serão cedidas ou compartilhadas com terceiros, exceto por ordem judicial ou de autoridade competente.<br>
        - A única informação que será compartilhada com outros usuários será o nome e sobrenome.</p>

        <p><b>IV) LISTA DE CONTATOS</b><br>
        - Para a utilização do aplicativo, é fundamental que o usuário conceda ao Helfie acesso à sua lista de contatos, para que ele possa convidar outros usuários a participar de um desafio.</p>

        <p><b>V) CÂMERA</b><br>
        - Para a utilização do aplicativo, é fundamental que o usuário conceda ao Helfie acesso à câmera do dispositivo, para que ele possa pontuar nos desafios.<br>
        - O usuário é exclusivamente responsável por todo e qualquer conteúdo por ele enviado através do aplicativo. Ao enviar o conteúdo, o usuário garante que ele não viola quaisquer direitos de terceiros ou leis vigentes e concorda em manter o Helfie isento de quaisquer reclamações judiciais ou extrajudiciais de terceiros.<br>
        - O Helfie poderá, sem prévio aviso, bloquear o acesso ao aplicativo quando verificar que o usuário praticou algum ato ou mantenha conduta que (i) viole as leis e regulamentos federais, estaduais e/ou municipais, (ii) contrarie as regras destes Termos de Uso, ou (iii) viole os princípios da moral e dos bons costumes.</p>

        <p>Ao prosseguir com a utilização do serviço, se cadastrando no Helfie, você estará concordando com os termos descritos acima.</p>
      </div>
      <div v-if="en">
        <p>By registering to Helfie, you agree to the terms and conditions stated herein.</p>

        <p><b>I) INTRODUCTION</b><br>
        The Helfie app is a tool that encourages the creation of healthy eating habits through competition between friends. The users may invite friends from their contacts list to participate in challenges, which are fulfilled by taking pictures.</p>

        <p><b>II) REGISTRATION</b><br>
        - The users may register for the first time in a given device, through the app itself, by giving their cellphone number, which will receive a text message with a unique code for their first access.<br>
        - To users who have already registered, Helfie does not require a login after the first access in a given device. In case the user wants to access from another device, the registration must be done again, without loss of data from previous devices.<br>
        - It will only be allowed a single registration per cellphone number as well as per user, where the access, visualization and usage of the app may be done only by the user, in a personal and non-transferable manner.<br>
        - In the case of minors under 18 years of age or other persons who require representation under the law, registration must be carried out with the assistance of parents or legal representatives.<br>
        - It is forbidden to have more than one registration per user, as well as using the registration of another user.</p>

        <p><b>III) PERSONAL INFORMATION</b><br>
        - By registering to the app, the users allow access to their name; last name; cellphone number.<br>
        - The information requested at the time of registration will be used by Helfie only for the purposes provided in these Terms of Use and under no circumstances will such information be provided or shared with third parties, except by court order or competent authority.<br>
        - The only information that will be shared with other users will be the user’s name and last name.</p>

        <p><b>IV) CONTACTS LIST</b><br>
        - In order to use the application, it is essential that the users grants Helfie access to their contacts list, so that they can invite other users to participate in challenges.</p>

        <p><b>V) CAMERA</b><br>
        - In order to use the application, it is essential that the users grants Helfie access to their device camera, so that they can earn points in the challenges.<br>
        - You are solely responsible for any and all content that you submit through the app. By submitting content, you warrant that it does not violate any third party rights or applicable laws and you agree to keep Helfie free from any third party judicial or extrajudicial claims.<br>
        - Helfie may, without prior notice, block the access to the app when it finds that the user has engaged in an act or conduct that (i) violates federal, state and/or municipal laws and regulations, (ii) goes against these Terms of Use, or (iii) violate the principles of morality and good manners.</p>

        <p>By continuing to use the service, by registering to Helfie, you agree to the terms described above.</p>
      </div>
    </div>

    <div class="footer">
      <ul class="footer-list">
        <a href="mailto:contato@helfie.me"><li class="footer-item"><img src="email.png" class="social-media-icon">contato@helfie.me</li></a>
        <a href="https://www.facebook.com/apphelfie/" target="_blank"><li class="footer-item"><img src="facebook.png" class="social-media-icon">/apphelfie</li></a>
        <a href="https://www.instagram.com/sixhealthyfriends/" target="_blank"><li class="footer-item"><img src="instagram.png" class="social-media-icon">/sixhealthyfriends</li></a>
      </ul>
      <span class="copyright">helfie|2017</span>
    </div>
  </div>
  </body>

  <script src="https://unpkg.com/vue"></script>
  <script type="text/javascript">
    var app = new Vue({
      el: '#termos',
      data: {
        language: 'ptbr',
      },
      computed: {
        ptbr: function () {
          return this.language === 'ptbr'
        },
        en: function () {
          return this.language === 'en'
        }
      },
      methods: {
        changeToPTBR: function (event) {
          this.language = 'ptbr'
        },
        changeToEN: function (event) {
          this.language = 'en'
        }
      },
    })
  </script>
</html>
